.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.welcom{
  color: #dbb577;
  
}

.wit-img{
  width: 100%;
  
}

.bg-img{
  background-color: #434141;
}

.bg-col{
  background-color: #dbb577;
}

.fs-s {
  font-size: 4.2rem;
  font-style: italic;
}


.fs-m {
  font-size: 3.2rem;
  font-family: cursive;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
